:root {
  --mode-color-background: white;
  --mode-color-foreground: black;
}

/* HEADER NAVIGATION BAR */
.nav-bar {
  background-color: white;
  overflow: hidden;
}

.nav-bar .icon {
  display: none;
  font-size: 2em;
  color: grey;
}

.nav-bar a {
  float: left;
  text-align: center;
  display: block;
  text-decoration: none;
}

.nav-bar .nav-items {
  float: right;
  text-align: center;
  font-size: 17px;
  color: grey;
  padding: 14px 16px;
}

.nav-bar .brand {
  float: left;
  text-align: center;
  font-size: 22px;
  color: grey;
  padding: 14px 16px;
}

.nav-bar a:hover {
  color: blue;
}

/* USER NAVIGATION */
#user-nav, #user-nav-selectors, #user-nav-color-chooser {
  display: flex;
  align-items: center;
  justify-content: center;
}

#user-nav-selectors {
  justify-content: space-between;
  margin-left: 1.5em;
}

#user-nav {
  border: 1px solid grey;
  border-radius: 35px;
  padding: .5em 2em;
}

#font-size {
  flex-grow: 1;
  font-family: "Roboto";
}

#search-fonts, #sample-text, #user-nav-selectors {
  flex-grow: 3;
  font-family: "Roboto";
}

#search-fonts, #sample-text {
  border-right: 1px solid grey;
  margin-right: .25em;
}

#user-nav-color-chooser div {
  height: 1em;
  width: 1em;
  border: 1px solid grey;
  border-radius: 50%;
  margin: 0 .25em;
}

#black {
  background-color: black;
}

#white {
  background-color: white;
}

#user-nav-selectors button {
  margin: 0 .25em;
  display: flex;
  align-items: baseline;
  justify-content: center;
}

body {
  box-sizing: border-box;
  background-color: var(--mode-color-background, white);
  color: var(--mode-color-foreground, black);
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

input, select, button {
  border: none;
}

.hide {
  display: none;
}

header {
  width: 100%;
  border-bottom: 1px solid grey;
}

main {
  width: calc(100vw - 7em);
  min-width: 320px;
  margin: 1.5em auto;
}

input, button, select, i {
  background-color: var(--mode-color-background, white);
  color: var(--mode-color-foreground, black);
}

/* FONT CARD CONTAINER */
#font-card-container {
  margin: 1.5em 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/* FONT CARD */
:root {
  --font-card-width: calc(25% - 3em);
}

.font-card {
  height: 290px;
  width: var(--font-card-width);
  border-top: 1px solid var(--mode-color-foreground, black);
  padding-top: .75em;
  margin: 0 calc(12em / 8);
  position: relative;
  overflow: hidden;
}

.font-card h2, .font-card-info p {
  font-family: 'Roboto';
  font-size: 1em;
}

.font-card-info p {
  color: grey;
  margin-top: .5em;
}

.font-card .addFont {
  height: 20px;
  width: 20px;
  position: absolute;
  right: 0;
  top: 0;
  border: 2px solid red;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  font-size: 1.25em;
  cursor: pointer;
}

.font-card-sample {
  padding-top: 2em;
  font-size: 2em;
}

.font-card-sample p {
  color: var(--mode-color-foreground, black);
  display: block;
  overflow: scroll;
  white-space: nowrap;
}

/* ASIDE BUTTON */
#back-to-top {
  font-size: 2em;
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: .5;
  display: none;
}

#back-to-top:hover {
  opacity: 1;
  cursor: pointer;
}

/* FOOTER */
footer {
  width: 100%;
  text-align: center;
  font-family: "Roboto";
  margin-bottom: 1.25em;
}

/* RESPONSIVE */
@media (max-width: 1200px) {
  :root {
    --font-card-width: calc(33% - 3em);
  }

  .nav-bar a:not(:first-child) {
    display: none;
  }

  .nav-bar a.icon {
    float: right;
    display: block;
  }
}

@media (max-width: 600px) {
  :root {
    --font-card-width: 100%;
  }

  .nav-bar .responsive {
    position: relative;
  }

  .nav-bar .responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .nav-bar .responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  #sample-text, #font-size, #user-nav-color-chooser, #user-nav-grid, #user-nav-list #user-nav-gridl i #user-nav-list i {
    display: none;
  }

  #search-fonts {
    flex-grow: 3;
  }

  #user-nav-reset {
    flex-grow: 1;
  }

  main {
    width: calc(100vw - 2em);
  }
}
